@model TRHKG.Models.Item
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="ItemSection">
            <form method="post" asp-action="Create">
                <div class="ItemSection__header">
                    <span class="logo">Item List</span>
                    <label>Search: </label>
                    <input type="text" id="filter input">
                    <a class="crtItem" asp-controller="Item" asp-action="Create">Create new Item</a>
                </div>
                <div class="tableCrt">
                    <div class="ItemSection__table__head">
                        <label asp-for="Name" class="item">Item</label>
                        <label asp-for="Cost" class="cost">Cost</label>
                        <label asp-for="IsItThere" class="isthere">IsItThere</label>
                        <label asp-for="IsItFood" class="isfood">IsItFood</label>
                    </div>
                    <div class="ItemSection__table__body__crt">
                        <div class="item">
                            <input asp-for="Name" type="text" />
                        </div>
                        <div class="cost">
                            <input asp-for="Cost" type="text" />
                        </div>
                        <div class="isthere">
                            <input asp-for="IsItThere" type="checkbox" />
                        </div>

                        <div class="isfood">
                            <input asp-for="IsItFood" type="checkbox" />
                        </div>
                        <input class="create" type="submit" value="Create" />

                        <a class="Back" asp-action="List">Back</a>

                    </div>
                </div>
            </form>
        </div>

    </div>
</body>
</html>


