
@{
    ViewData["Title"] = "SITE";
}
<a href="#" title="Вернуться к началу страницы" id="topNubex"></a>

<div class="intro">
    <div class="intro__inner">
        <div class="intro__suptitle">
            <div class="container">
                hello
            </div>
        </div>
        <div class="intro__title">
            WE<span class="lco">LCO</span>ME
        </div>
        <div class="intro__main">

        </div>
    </div>
</div>



@*about*@

<section id="aboutUs" class="section">
    <div class="container">
        <div class="section__header">
            <h3 class="section__supTitle">What we do</h3>
            <h2 class="section__title">Story about us</h2>

        </div>

        <div class="section__text">
            <p>
                Dанный сайт посвящен различным языкам и технологиям программирования, компьютерам, мобильным платформам и ИТ-технологиям. Здесь будут выкладываться различные руководства и учебные материалы, статьи и примеры.

                Приоритетные направления - язык C# и семейство технологий .NET (ASP.NET MVC, WPF, Xamarin, Entity Framework и т.д.), технологии на базе Java ( Java SE, программирование под ОС Андроид и т.д.), Python, Dart (в том числе Flutter) работа с базами данных (MS SQL Server, MySQL, MongoDB) а также WEB-технологии, такие как HTML5, AJAX, jQuery, Node.js, ExtJS, Angular, React и др.
            </p>
        </div>


    </div>
    <div class="container">
        <div class="section__pic-items">
            <a href="#popup">
                <div class="section__pic">
                    <div class="section__pic-item">
                        <img src="../img/About/iloveimg-resized (1)/1м.jpg">
                    </div>
                    <div class="section__pic-text">Эльбрус</div>
                </div>
            </a>
            <a href="#popup1">
                <div class="section__pic">
                    <div class="section__pic-item">
                        <img src="../img/About/iloveimg-resized (1)/3ч.jpg">
                    </div>
                    <div class="section__pic-text">Камчатка</div>

                </div>
            </a>
            <a href="#popup2">
                <div class="section__pic">
                    <div class="section__pic-item">
                        <img src="../img/About/iloveimg-resized (1)/2к.jpg">
                    </div>
                    <div class="section__pic-text">Карелия</div>

                </div>
            </a>
        </div>
    </div>
</section>




@*about*@

<div class="CommonContainer">
    <div class="PictSection">
        <div id="pictures" class="container">
            <div class="section__header">
                <h3 class="section__supTitle">Look Pictures</h3>
                <h2 class="section__title">Enjoy with us</h2>

            </div>

            <div class="section__text">
                <p>
                    Dанный сайт посвящен различным языкам и технологиям программирования, компьютерам, мобильным платформам и ИТ-технологиям. Здесь будут выкладываться различные руководства и учебные материалы, статьи и примеры.

                    Приоритетные направления - язык C# и семейство технологий .NET (ASP.NET MVC, WPF, Xamarin, Entity Framework и т.д.), технологии на базе Java ( Java SE, программирование под ОС Андроид и т.д.), Python, Dart (в том числе Flutter) работа с базами данных (MS SQL Server, MySQL, MongoDB) а также WEB-технологии, такие как HTML5, AJAX, jQuery, Node.js, ExtJS, Angular, React и др.
                </p>
            </div>


        </div>



        <div class="containerPic">
            <a href="/img/bike/2с.jfif" data-lightbox="test"><img src="/img/bike/2с.jfif" class="box1" alt="no pic2"></a>
            <a href="/img/hiking/1c.png" data-lightbox="test"><img src="/img/hiking/1c.png" class="box1" alt="no pic4"></a>
            <a href="/img/hiking/2c.jpg" data-lightbox="test"><img src="/img/hiking/2c.jpg" class="box1" alt="no pic5"></a>
            <a href="/img/hiking/3c.jpg" data-lightbox="test"><img src="/img/hiking/3c.jpg" class="box1" alt="no pic6"></a>
            <a href="/img/hiking/4c.jpg" data-lightbox="test"><img src="/img/hiking/4c.jpg" class="box1" alt="no pic7"></a>
            <a href="/img/water/1с.jpg" data-lightbox="test"><img src="/img/water/1с.jpg" class="box1" alt="no pic8"></a>
            <a href="/img/water/3с.jpg" data-lightbox="test"><img src="/img/water/3с.jpg" class="box1" alt="no pic0"></a>
            <a href="/img/water/4с.jpg" data-lightbox="test"><img src="/img/water/4с.jpg" class="box1" alt="no pic10"></a>
            <a href="/img/water/5с.jpg" data-lightbox="test"><img src="/img/water/5с.jpg" class="box1" alt="no pic11"></a>
        </div>

    </div>

    @*Pictures*@



    @*ContactUSa*@
    @model TRHKG.Models.ViewModels.ContactUsViewModel

    <div id="ContactUSa" class="ContactUSa">
        <div class="container">
            <form method="post" asp-action="ContactUs" asp-controller="Account">
                <div class="contactUs__inner">
                    <div class="contact__title">
                        Contact USa
                    </div>
                    <div class="contact__suptitle">
                        Swing by for a cup of coffee, or leave us a message:
                    </div>
                    <div class="contact__map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2216.7692287846385!2d44.04844111604734!3d56.24749676119639!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x41502baf1a0b9513%3A0xb316541a436e4702!2z0YPQuy4g0KDRg9GB0YHQutCw0Y8sIDE1LCDQkNC90LrRg9C00LjQvdC-0LLQutCwLCDQndC40LbQtdCz0L7RgNC-0LTRgdC60LDRjyDQvtCx0LsuLCA2MDc2ODY!5e0!3m2!1sru!2sru!4v1622665316895!5m2!1sru!2sru" width="400" height="380" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="contact__field">
                        <label asp-for="FirstName" id="lblName">First Name</label>
                        <input asp-for="FirstName" id="tpName" type="text">
                        <label asp-for="SecondName" id="lblNameS">Second Name</label>
                        <input asp-for="SecondName" id="tpNameS" type="text">
                        <label asp-for="Country" id="lblCountry">Country</label>
                        <select asp-for="Country" id="selCountry">
                            <option value="russia">Russia</option>
                            <option value="usa">USA</option>
                            <option value="germany">Germany</option>
                            <option value="france">France</option>
                            <option value="uk">UK</option>
                            <option value="canada">Canada</option>
                            <option value="china">China</option>
                        </select>
                        <label asp-for="Subject" id="lblSubject">Subject</label>
                        <textarea asp-for="Subject" id="txaSubject"></textarea>

                        <input id="Subbtn" type="submit" value="Send">
                    </div>
                </div>
                <script type="text/javascript">window.reload();</script>
            </form>
        </div>
    </div>
    @*ContactUSa*@
</div>
@*Pictures*@


