<section class="statistic">
    <div class="container">
        <div class="stat">
            <div class="statItem">
                <div class="StatCount">19</div>
                <div class="StatText">number of trips this year</div>
            </div>
            <div class="statItem">
                <div class="StatCount">2 584</div>
                <div class="StatText">number of club members</div>
            </div>
            <div class="statItem">
                <div class="StatCount">9 842</div>
                <div class="StatText">the amount of alcohol consumed during the hike</div>
            </div>
            <div class="statItem">
                <div class="StatCount">183</div>
                <div class="StatText">the number of deaths during the hike</div>
            </div>
        </div>
    </div>
</section>
