<div id="header" class="headerConteainer">
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a id="header__logo" class="nav__link-logo" asp-action="index" asp-controller="Home">SITE</a>
                </div>
                <nav class="nav">
                    <partial name="_LoginPartial" />
                </nav>

            </div>
        </div>
    </header>
</div>


