@model TRHKG.Models.ViewModels.LoginViewModel
<div class="container">
    <div class="RegSec">
        <div class="container__inner">
            <h1 title="Log in form">Log in</h1>
            <form class="loginForm" method="post" asp-action="Login" asp-controller="Account">
                <div asp-validation-summary="All"></div>
                <div class="group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="group">
                    <label asp-for="RememberMe">
                        Remember me?
                        <input type="checkbox" asp-for="RememberMe" />
                    </label>
                </div>
                <div>
                    <input type="submit" value="Sign in" class="btn" />
                </div>

            </form>
            <div class="aSingUp">
                <a asp-action="Register">Sign Up</a>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}
