@model TRHKG.Models.ViewModels.LoginViewModel
<div class="RegSection">
    <div class="container">
        <h1 title="Log in form">Log in</h1>
        <form method="post" asp-action="Login" asp-controller="Account">
            <div asp-validation-summary="All"></div>
            <div class="group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="group">
                <label asp-for="RememberMe">
                    Remember me?
                    <input type="checkbox" asp-for="RememberMe" />
                </label>
            </div>
            <div>
                <input type="submit" value="Логин" class="btn" />
            </div>
            <!--
                        <p>
                            <a asp-action="Register">Sign Up</a>
                        </p> -->

        </form>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}
